%html
 %head
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
 %body
  %script
   function showform()
   {
   document.getElementById("form1").style.display='block';
   return false;
   }
   function show_del_form()
   {
   document.getElementById("form2").style.display='block';
   return false;
   }
   function insert(a,b,c,d)
   {
   $.post('/intern/insert',{name:a,college:b,joinedOn:c,leader:d},function(data){
   document.getElementById("form1").style.display='none';
   $("#btn1").attr('value',data);
   document.getElementById("btn1").style.display='block';
   });
   return false;
   }
   function show(s)
   {
   $.post('/intern/show',{name:s},function(data){
   $("#div1").html(data);
   });
   return false;
   }
   function delet(s)
   {
   $.post('/intern/delete',{name:s},function(data){
   document.getElementById("form2").style.display='none';
   var all = document.getElementsByTagName('*'); 
   for (var i=0, max=all.length; i < max; i++) 
   {
   var elem = all[i];
   if(elem.getAttribute("value") == data){
   elem.style.display='none';
   }
   }
   });
   return false;
   }
 - unless @interns.empty?
  %div#interns
  - @interns.each do |intern|
   %input{:type=>'button',:value=>intern.name,:onClick=>'show(value)',:name=>'btn'}
   %br
  %input{:id=>'btn1',:type=>'button',:onClick=>'show(value)',:name=>'btn'}
  %script
   document.getElementById("btn1").style.display='none';
 -else
  %h3 No more interns!!
 %input{:type=>'button',:value=>'Delete',:onClick=>'show_del_form()'}
 %input{:type=>'button',:value=>'Insert',:onClick=>'showform()'}
 %div#div1
 %form#form1
  Enter name: 
  %input{:name => "name1", :type => "text"}/
  Enter College:
  %input{:name => "college1", :type => "text"}/
  Enter joinedOn: 
  %input{:name => "join", :type => "text"}/
  Enter Project Lead:
  %input{:name => "lead", :type => "text"}/
  %input{:type=>'submit',:name=>'btn1',:onClick=>'return insert(name1.value,college1.value,join.value,lead.value)',:value=>'Insert'}
 %script
  document.getElementById("form1").style.display='none';
 %form#form2
  Enter name: 
  %input{:name => "name1", :type => "text"}/
  %input{:type=>'submit',:name=>'btn1',:onClick=>'return delet(name1.value)',:value=>'Delete Intern'}
 %script
  document.getElementById("form2").style.display='none';
